.form-step {
    margin: 40px;
    display: none;
    border-radius: 10px;
    box-shadow: 2px 2px 9px 2px #1010105E;
    padding: 20px;
    width: 336px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    border: 1px none #CDE0EC;
    overflow-y: auto;
}

button {
    font-size: 15px;
    font-weight: 400;
    padding: 10px 40px;
    text-align: center;
    color: white;
    background: #13294b;
    margin-top: 25px;
    border-radius: 100px !important;
    border: none;
    margin-bottom: 15px;
}
button:hover{
    cursor: pointer;
}

#notify-form {
    display: none;

}

input {
    border: none !important;
    background-color: #f4f4f4;
    border-radius: .25rem;
    width: 90%;
    height: 30px;

    margin: 10px 0;
    padding: 5px 10px;
}

select {
    font-size: 15px;

    border: none;
    background-color: #f4f4f4;
    border-radius: .25rem;
    padding: 10px 7px;
    width: 95%;
    height: 20px;

}

.form-step select {
    height: 38px;
    /* Ajusta la altura para que se ajuste al contenedor */
}

#blueT {
    color: #13294BFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    padding: 0px 10px 0px 10px;
}

#steP2 {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    padding: 5px 10px;
}

#step-3 h2,
#step-4 h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.5;
}

::placeholder {
    color: #afb8bcff
}

.button-wrapper {
    display: flex;
    justify-content: center;
    /* This aligns items horizontally */
    align-items: center;
    /* This aligns items vertically */
}

.next-btn {
    margin-left: 40px
}

#submit-btn {
    margin-left: 40px
}

#step-1 .next-btn {
    margin-left: 153px;
}

#additional-info {
    width: 100%;
    /* O cualquier otro valor que prefieras para pantallas más grandes */
}
.consent-msg{
    padding: 0px 3px;
    font-size: 10px;
    margin: 0;
}

@media (max-width: 576px) {
    .form-step {
        width: 275px;
        padding: 15px;
    }

    .next-btn {
        margin-left: 19px;
    }

    #step-1 .next-btn {
        margin-left: 132px;
    }

    #additional-info {
        width: 266px;
    }
    #submit-btn {
        margin-left: 24px;
    }
}